/*  your css code here. If applicable */
.star {
  position: relative;
  margin: 50px;
  width: 0px;

  border-right: 50px solid transparent;
  border-bottom: 35px solid yellow;
  border-left: 50px solid transparent;
  transform: rotate(35deg);
}

.star::before {
  content: '';
  position: absolute;
  top: -22px;
  left: -32px;
  width: 0px;

  border-bottom: 40px solid yellow;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  transform: rotate(-35deg);
}

.star::after{
  content: '';
  position: absolute;
  top:1px;
  left:-52px;

  width: 0px;
  border-bottom: 35px solid yellow;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  transform: rotate(-70deg);
}