/*  your css code here. If applicable */
.star {
  width:0px;
  border-bottom: 60px solid yellow;
  border-right: 90px solid transparent;
  border-left: 90px solid transparent;
  position: relative;
  margin: 100px;
}

.star::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -90px;
  width:0px;
  border-bottom: 60px solid yellow;
  border-right: 90px solid transparent;
  border-left: 90px solid transparent;
  transform: rotate(70deg);
}
.star::after {
  content: '';
  position: absolute;
  top: 0px;
  left: -90px;
  width:0px;
  border-bottom: 60px solid yellow;
  border-right: 90px solid transparent;
  border-left: 90px solid transparent;
  transform: rotate(143deg);
}