/*  your css code here. If applicable */
.star {
  position: relative;
  width: 0px;
  border-bottom: 87px solid yellow;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
}

.star::after{
  content: '';
  position: absolute;
  top: 29px;
  left: -50px;
  width: 0px;
  border-top: 87px solid yellow;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
}

